<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<title></title>
	<link href="<%= data.baseUrl %>/img/favico.png" rel="shortcut icon" type="image/ico" />
	
	<link href="<%= data.baseUrl %>/css/style.css" rel="stylesheet" type="text/css" />
	<link href="<%= data.baseUrl %>/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="<%= data.baseUrl %>/assets/bootstrap/css/bootstrap-icons.css" rel="stylesheet" type="text/css" />
	<link href="<%= data.baseUrl %>/css/alertify.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="<%= data.baseUrl %>/js/jquery.min.js"></script>
	<script type="text/javascript" src="<%= data.baseUrl %>/js/alertify.min.js"></script>
</head>